/* Variables */

:root {
  --background-color: rgb(242, 242, 242);

  --primary-color: rgb(51, 51, 51);
  --secondary-color: rgb(0, 0, 0);

  --contrast-color: rgb(255, 255, 255);
  --secondary-contrast-color: rgb(238, 238, 238);

  --accent-color: rgb(129, 179, 210);
  --accent-color-darker: rgb(102, 158, 192);
  --accent-color-dark: rgb(84, 150, 189);

  --secondary-accent-color: rgb(118, 99, 87);
  --secondary-accent-color-darker: rgb(96, 78, 67);
  --secondary-accent-color-dark: rgb(80, 62, 51);

  --addition-contrast-color: rgb(242, 242, 242);
  --addition-primary-color: rgb(102, 102, 102);

  /* Colors with opacity */

  --contrast-color-opacity-90: rgba(255, 255, 255, 0.9);
  --contrast-color-opacity-30: rgba(255, 255, 255, 0.3);
  --secndary-color-opacity-30: rgba(0, 0, 0, 0.3);
}



/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
}


/* Global styles */

html {
  box-sizing: border-box;
  font-size: 87.5%; /* 14px */
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  background-color: var(--background-color, rgb(242, 242, 242));
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: var(--primary-color, rgb(51, 51, 51));
  text-transform: uppercase;
  overflow-anchor: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
}


/* Fix-container */

.fix-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


/* Header */

.header {
  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.header__navigation {

}

.navigation__logo-link {

}

.navigation__logo-img {

}


/* Navigation */

.navigation {

}

.navigation__logo-link {

}

.navigation__logo-img {

}

.navigation__menu {

}


/* Menu */

.menu {
  list-style: none;

  font-weight: 700;
  line-height: 1.857;
  color: var(--secondary-color, rgb(0, 0, 0));
}

.menu__item {

}

.menu__link {

}

.menu__link:hover {
  color: var(--accent-color, rgb(129, 179, 210))
}

.menu__link:active {
  color: var(--secndary-color-opacity-30, rgba(0, 0, 0, 0.3))
}

.menu__link--active {
  color: var(--secondary-accent-color, rgb(118, 99, 87));
}


/* Main */

.main {

}


/* Section */

.section {

}

.section__description {
  line-height: 1.857;
  text-align: center;
}


/* Top-section */

.top-section {

  background-color: var(--accent-color, rgb(129, 179, 210));
}

.top-section__description {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.238;
  color: var(--secondary-color, rgb(0, 0, 0));
  text-align: center;

  background-color: var(--contrast-color, rgb(255, 255, 255));
}


/* Reasons-section */

.reasons-section {
  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.reasons-section__list {
  list-style: none;
}

.reasons-section__list-item {

}

/* Reason */

.reason {
  background-color: var(--secondary-contrast-color, rgb(238, 238, 238));
}

.reason--expanded-sub-list {
  color: var(--contrast-color, rgb(255, 255, 255));
  background-color: var(--accent-color, rgb(129, 179, 210));
}

.reason--expanded-image {
  color: var(--contrast-color, rgb(255, 255, 255));
  background-color: var(--accent-color, rgb(129, 179, 210));
}

.reason__container {

}

.reason__title {
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
}

.reason__description {
  text-align: center;
}

.reason__image {

}

.reason__sub-list {
  list-style: none;
}

.reason__sub-list-item {

}


/* Feature */

.feature {
  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.feature--hotels {

}

.feature--food {

}

.feature--souvenirs {

}

.feature__title {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--secondary-color, rgb(0, 0, 0));
  text-align: center;
}

.feature__description {
  color: var(--primary-color, rgb(51, 51, 51));
  text-align: center;
}


/* Order-section */

.order-section {
  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.order-section__subtitle {
  font-size: 2.143rem;
  font-weight: 700;
  line-height: 0.8;
  text-align: center;
}

.order-section__button {

}


/* Map-section */

.map-section {

}

.map-section__map {

}


/* Button */

.button {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--contrast-color, rgb(255, 255, 255));
  text-transform: uppercase;
}

.button:active {
  color: var(--contrast-color-opacity-30, rgba(255, 255, 255, 0.3));
}

.button--brown {
  background-color: var(--secondary-accent-color, rgb(118, 99, 87));
}

.button--brown:hover {
  background-color: var(--secondary-accent-color-darker, rgb(96, 78, 67));
}

.button--brown:active {
  background-color: var(--secondary-accent-color-dark, rgb(80, 62, 51));
}

.button--blue {
  background-color: var(--accent-color, rgb(129, 179, 210));
}

.button--blue:hover {
  background-color: var(--accent-color-darker, rgb(102, 158, 192));
}
.button--blue:active {
  background-color: var(--accent-color-dark, rgb(84, 150, 189));
}



/* Footer */

.footer {
  background-color: var(--contrast-color-opacity-90, rgba(255, 255, 255, 0.9));
}

.footer__section {

}

.footer__address {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.238;
  color: var(--secondary-color, rgb(0, 0, 0));
  text-align: center;
}

.footer__tag {

}

.footer__link {

}

.footer__socials {

}

.footer__logo {
  text-align: center;
}

.footer__logo-link {

}

.footer__logo-icon {

}


/* Socials */

.socials {

}

.socials__item {

}

.socials__link {
  background-color: var(--accent-color, rgb(129, 179, 210));
}

.socials__link:hover {
  background-color: var(--accent-color-darker, rgb(102, 158, 192));
}

.socials__link:active {
  background-color: var(--accent-color-dark, rgb(84, 150, 189));
}

.socials__icon {

}