/* Variables */

:root {
  --background-color: rgb(242, 242, 242);

  --primary-color: rgb(51, 51, 51);
  --secondary-color: rgb(0, 0, 0);

  --contrast-color: rgb(255, 255, 255);
  --secondary-contrast-color: rgb(238, 238, 238);

  --accent-color: rgb(129, 179, 210);
  --accent-color-darker: rgb(102, 158, 192);
  --accent-color-dark: rgb(84, 150, 189);

  --secondary-accent-color: rgb(118, 99, 87);
  --secondary-accent-color-darker: rgb(96, 78, 67);
  --secondary-accent-color-dark: rgb(80, 62, 51);

  --addition-contrast-color: rgb(242, 242, 242);
  --addition-primary-color: rgb(102, 102, 102);

  /* Colors with opacity */

  --contrast-color-opacity-90: rgba(255, 255, 255, 0.9);
  --contrast-color-opacity-30: rgba(255, 255, 255, 0.3);
  --secondary-color-opacity-30: rgba(0, 0, 0, 0.3);

  /* Logo fill */

  --logo-main-color: rgb(35, 31, 32);
  --logo-hover-color: rgb(129, 179, 210);
  --logo-active-color: rgb(189, 187, 188);

  /* Sort buttons */

  --sort-button-color: rgb(202, 202, 202);
  --form-number-button: rgb(169,169,169);

  /* Top section */

  --top-section-background: rgb(202, 219, 234);
  --line-color: rgb(229,229,229);

  /* Shadow */

  --page-shadow: rgba(0, 1, 1, 0.2);
  --form-shadow:  rgba(0, 1, 1, 0.15);
  --form-hover-color: rgb(235, 235, 235);
  --toggle-shadow: rgba(171, 171, 171, 0.3);

  --toggle-background: rgb(171, 171, 171);
}



/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
}


/* Global styles */

html {
  box-sizing: border-box;
  font-size: 87.5%; /* 14px */
  line-height: 1;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  background-color: var(--background-color, rgb(242, 242, 242));
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: var(--primary-color, rgb(51, 51, 51));
  text-transform: uppercase;
  overflow-anchor: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
}


/* Fix-container */

.fix-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 5px 15px var(--page-shadow, rgba(0, 1, 1, 0.2));
}


/* Link */

.link {
  color: var(--secondary-color, rgb(0, 0, 0));
  transition: 0.3s color;
}

.link:hover {
  color: var(--accent-color, rgb(129, 179, 210));
}

.link:active {
  color: var(--secondary-color-opacity-30, rgba(0, 0, 0, 0.3));
}


/* Button */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--contrast-color, rgb(255, 255, 255));
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.3s background-color;
}

.button:active {
  color: var(--contrast-color-opacity-30, rgba(255, 255, 255, 0.3));
}

.button--brown {
  background-color: var(--secondary-accent-color, rgb(118, 99, 87));
}

.button--brown:hover {
  background-color: var(--secondary-accent-color-darker, rgb(96, 78, 67));
}

.button--brown:active {
  background-color: var(--secondary-accent-color-dark, rgb(80, 62, 51));
}

.button--blue {
  background-color: var(--accent-color, rgb(129, 179, 210));
}

.button--blue:hover {
  background-color: var(--accent-color-darker, rgb(102, 158, 192));
}

.button--blue:active {
  background-color: var(--accent-color-dark, rgb(84, 150, 189));
}

/* Main */

.main {
  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.main--blank {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}


/* Header */

.header {
  background-color: var(--contrast-color, rgb(255, 255, 255));
}


/* Navigation */

.navigation {
  position: relative;
}

.navigation__logo-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-self: center;
}

.navigation__logo-img {
  display: block;
  width: 138px;
  height: 70px;
}

.navigation__menu {
  margin-left: 72px;
  margin-right: 72px;
}


/* Menu */

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  font-weight: 700;
  line-height: 1.85714;
  list-style: none;
}

.menu__item {
  width: 228px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu__item:nth-child(4n+1) {
  text-align: left;
}
.menu__item:nth-child(4n+2) {
  margin-right: auto;
  text-align: left;
}

.menu__item:nth-child(4n+3) {
  text-align: right;
}

.menu__item:nth-child(4n+4) {
  text-align: right;
}

.menu__link--current,
.menu__link--current:hover,
.menu__link--current:active {
  color: var(--secondary-accent-color, rgb(118, 99, 87));
}


/* Top-section */

.top-section {
  display: flex;
  flex-direction: column;
  padding-top: 77px;

  background-color: var(--top-section-background, rgb(202, 219, 234));
  background-image: url('../img/top-section-background.jpg');
  background-position: center top;
  background-repeat: no-repeat;}

.top-section::before {
  content: url('../img/welcome.svg');
  display: block;
  align-self: center;
  width: 458px;
  height: 352px;
  margin-bottom: 81px;
}

.top-section__description {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 42px;
  padding-bottom: 47px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.238;
  color: var(--secondary-color, rgb(0, 0, 0));
  text-align: center;

  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.top-section__description::before {
  content: "";
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  display: block;
  width: 1200px;
  height: 57px;
  margin-left: -30px;
  margin-right: -30px;

  clip-path: url('#shape');
  background-color: var(--contrast-color, rgb(255, 255, 255));
}


/* Reasons-section */

.reasons-section {
  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.reasons-section__description {
  margin-top: 0;
  margin-bottom: 51px;
  padding-left: 30px;
  padding-right: 30px;

  line-height: 1.85714;
  text-align: center;
}

.reasons-section__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  list-style: none;
  margin: 0;
  padding: 0;

  counter-reset: reasonsCounter;
}

.reasons-section__list-item--full-width {
  grid-column: 1 / -1;
}


/* Reason */

.reason {
  min-height: 256px;
  padding-top: 47px;
  padding-left: 60px;
  padding-right: 60px;

  background-color: var(--secondary-contrast-color, rgb(238, 238, 238));
}

.reason--sub-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);

  padding-top: 0;
  padding-left: 0;
  padding-right: 0;

  color: var(--contrast-color, rgb(255, 255, 255));
  background-color: var(--accent-color, rgb(129, 179, 210));
}

.reason--image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;

  padding-top: 0;
  padding-left: 0;
  padding-right: 0;

  color: var(--contrast-color, rgb(255, 255, 255));
  background-color: var(--accent-color, rgb(129, 179, 210));
}

.reason--image .reason__container {
  order: 2;
}

.reason--image .reason__picture {
  order: 1;
}

.reason__container {
  padding-top: 47px;
  padding-left: 40px;
  padding-right: 40px;
}

.reason__title {
  margin-top: 0;
  margin-bottom: 26px;

  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
}

.reason__description {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 20px;

  text-align: center;
}

.reason__description::before {
  content: "— № " counter(reasonsCounter) " —";
  margin-bottom: 24px;
  counter-increment: reasonsCounter;
}

.reason__picture {
  grid-column: span 2;
  display: block;
}

.reason__image {
  display: block;
  width: 800px;
  height: 256px;
}

.reason__sub-list {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.reason__sub-list-item {
  width: calc(100% / 3);
}


/* Feature */

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 330px;
  padding-top: 53px;
  padding-left: 50px;
  padding-right: 50px;
}

.feature::before {
  display: block;
  margin-bottom: 28px;

  text-align: center;
}

.feature--hotels::before {
  content: url('../img/hotels.svg');
  width: 75px;
  height: 72px;
  margin-top: 7px;
}

.feature--food::before {
  content: url('../img/food.svg');
  width: 75px;
  height: 70px;
  margin-top: 8px;
}

.feature--souvenirs::before {
  content: url('../img/souvenirs.svg');
  width: 64px;
  height: 76px;
  margin-top: 3px;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 26px;

  font-size: 1.5rem;
  line-height: 1;
  color: var(--secondary-color, rgb(0, 0, 0));
  text-align: center;
}

.feature__description {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--primary-color, rgb(51, 51, 51));
  text-align: center;
}


/* Order-section */

.order-section {
  position: relative;
  padding-top: 56px;

  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.order-section__subtitle {
  margin-top: 0;
  margin-bottom: 32px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 2.143rem;
  font-weight: 700;
  line-height: 0.8;
  text-align: center;
}

.order-section__description {
  margin-top: 0;
  margin-bottom: 43px;
  padding-left: 30px;
  padding-right: 30px;

  line-height: 1.85714;
  text-align: center;
}

.order-section__button {
  min-width: 568px;
  min-height: 86px;
  margin-left: auto;
  margin-right: auto;

  font-size: 1.5rem;
  line-height: 1.238;
}

.order-section__form {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}


/* Order-form */

.order-form {
  display: block;
  background-color: var(--contrast-color, rgb(255, 255, 255));
  box-shadow: 0 7px 15px var(--form-shadow, rgba(0, 1, 1, 0.15));
  max-height: 450px;
  width: 568px;
  overflow: hidden;
  transition: 0.5s ease;
}

.order-form--hidden {
  max-height: 0;
}

.order-form__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 29px;
  align-items: center;
  width: 100%;
  max-height: 450px;
  padding: 55px;

  overflow-x: auto;
}

.order-form__label {
  font-weight: 700;
  line-height: 1.85714;
}

.order-form__label--children {
  padding-left: 53px;
}

.order-form__input {
  width: 100%;
  padding: 6px 13px;
  font-weight: 700;
  line-height: 1.85714;
  text-transform: uppercase;
  border: none;

  background-color: var(--addition-contrast-color, rgb(242, 242, 242));
  transition: 0.3s background-color;
}

.order-form__input--number {
  width: calc(100% - 38px * 2);
  padding: 6px;
  text-align: center;
}

.order-form__input::placeholder {
  color: var(--secondary-color, rgb(0, 0, 0));
  opacity: 1;
}

.order-form__input:hover {
  background-color: var(--form-hover-color, rgb(235,235,235));
}

.order-form__input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--line-color, rgb(229,229,229));
  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.order-form__date-input-container {
  position: relative;
  grid-column-end: span 3;
}

.order-form__number-input-container {
  display: flex;
}

.order-form__number-button {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  background-color: var(--addition-contrast-color, rgb(242, 242, 242));
  cursor: pointer;
}

.order-form__number-button::before,
.order-form__number-button--plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  transition: 0.3s background-color;
}

.order-form__number-button::before {
  width: 12px;
  height: 3px;
  background-color: var(--form-number-button, rgb(169,169,169));
}

.order-form__number-button--plus::after {
  width: 3px;
  height: 12px;
  background-color: var(--form-number-button, rgb(169,169,169));
}

.order-form__number-button:hover::before,
.order-form__number-button:hover::after {
  background-color: var(--secondary-color, rgb(0, 0, 0));
}

.order-form__number-button:active::before,
.order-form__number-button:active::after {
  background-color: var( --accent-color, rgb(129, 179, 210));
}

.order-form__calendar-button {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.order-form__calendar-icon {
  width: 21px;
  height: 23px;
}

.order-form__calendar-icon-symbol {
  fill: var(--form-number-button, rgb(169,169,169));
  transition: 0.3s fill;
}

.order-form__calendar-button:hover .order-form__calendar-icon-symbol {
  fill: var(--secondary-color, rgb(0, 0, 0));
}

.order-form__calendar-button:active .order-form__calendar-icon-symbol {
  fill: var(--accent-color, rgb(129, 179, 210));
}

.order-form__button {
  grid-column: 1 / -1;
  min-height: 58px;
  margin-top: 24px;

  font-size: 1.5rem;
  line-height: 1.238;
}


/* Map-section */

.map-section__map {
  display: block;
  width: 100%;
  height: 594px;

  border: none;
}


/* Search-section */

.search-section {
  min-height: 218px;
  padding: 26px 72px;

  background-color: var(--secondary-accent-color, rgb(118, 99, 87));
  background-image: url('../img/filter-background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Search-form */

.search-form {
  display: flex;
}

.search-form__fieldset {
  margin: 0;
  padding: 0;

  color: var(--contrast-color, rgb(255, 255, 255));
  border: none;
}

.search-form__fieldset:not(:last-of-type) {
  margin-right: 118px;
}

.search-form__fieldset--range {
  margin-bottom: 34px;
}

.search-form__legend {
  margin-bottom: 26px;
  font-size: 1.142857rem;
  font-weight: 700;
  line-height: 1.3125;
}

.search-form__label {
  position: relative;
  display: block;
  padding-left: 41px;

  cursor: pointer;
  user-select: none;
}

.search-form__label:not(:last-of-type) {
  margin-bottom: 25px;
}

.search-form__label::before {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 27px;
  height: 23px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"%3E%3Cpath fill="%23fff" fill-rule="evenodd" d="M3 0h17a3 3 0 013 3v17a3 3 0 01-3 3H3a3 3 0 01-3-3V3a3 3 0 013-3zm18 3c0-.54-.46-1-1-1H3c-.54 0-1 .46-1 1v17c0 .54.46 1 1 1h17c.54 0 1-.46 1-1V3z" clip-rule="evenodd"/%3E%3C/svg%3E');
}

.seach-form__checkbox:checked + .search-form__label::before {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="27" height="23" viewBox="0 0 27 23"%3E%3Cpath fill="%23fff" d="M7.29 7.49L4.46 10.3l7.78 7.79L26.17 4.17l-2.83-2.83-11.1 11.1-4.95-4.95z"/%3E%3Cpath fill="%23fff" d="M21 20c0 .54-.46 1-1 1H3c-.54 0-1-.46-1-1V3c0-.54.46-1 1-1h16.9L21.5.42A2.96 2.96 0 0020 0H3a3 3 0 00-3 3v17a3 3 0 003 3h17a3 3 0 003-3v-9.83l-2 2V20z"/%3E%3C/svg%3E%0A');
}

.seach-form__checkbox:disabled + .search-form__label::before {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"%3E%3Cpath fill="%236A6A6A" fill-rule="evenodd" d="M3 0h17a3 3 0 013 3v17a3 3 0 01-3 3H3a3 3 0 01-3-3V3a3 3 0 013-3zm18 3c0-.54-.46-1-1-1H3c-.54 0-1 .46-1 1v17c0 .54.46 1 1 1h17c.54 0 1-.46 1-1V3z" clip-rule="evenodd"/%3E%3C/svg%3E');
}

.seach-form__checkbox:checked:disabled + .search-form__label::before {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="27" height="23" viewBox="0 0 27 23"%3E%3Cpath fill="%236A6A6A" d="M7.29 7.49L4.46 10.3l7.78 7.79L26.17 4.17l-2.83-2.83-11.1 11.1-4.95-4.95z"/%3E%3Cpath fill="%236A6A6A" d="M21 20c0 .54-.46 1-1 1H3c-.54 0-1-.46-1-1V3c0-.54.46-1 1-1h16.9L21.5.42A2.96 2.96 0 0020 0H3a3 3 0 00-3 3v17a3 3 0 003 3h17a3 3 0 003-3v-9.83l-2 2V20z"/%3E%3C/svg%3E%0A');
}

.search-form__range-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.search-form__range-wrapper .search-form__legend {
  margin-bottom: 12px;
}

.search-form__button {
  align-self: center;
  padding: 8px 34px;
  color: var(--contrast-color, rgb(255, 255, 255));
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--contrast-color, rgb(255, 255, 255));
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s background-color;
}

.search-form__button:hover {
  color: var(--secondary-color, rgb(0, 0, 0));
  background-color: var(--contrast-color, rgb(255, 255, 255));
}


/* Range */

.range {
  width: 100%;
}

.range__inputs-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 5px 10px;

  border: 2px solid var(--contrast-color, rgb(255, 255, 255));
  border-radius: 2px;
}

.range__label {
  padding-left: 55px;
  padding-right: 5px;
}

.range__label:first-of-type {
  border-right: 1px solid var(--contrast-color, rgb(255, 255, 255));
}

.range__label:last-of-type {
  border-left: 1px solid var(--contrast-color, rgb(255, 255, 255));
}

.range__input {
  max-width: 65px;
  border: none;
  background: none;
  color: inherit
}

.range__input::placeholder {
  color: var(--contrast-color, rgb(255, 255, 255));
  opacity: 1;
}

.range__scale {
  height: 2px;
  width: 100%;
  background-color: var(--contrast-color-opacity-30, rgba(255, 255, 255, 0.3));
}

.range__bar {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: var(--contrast-color, rgb(255, 255,255));
}

.range__toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: content-box;
  width: 4px;
  height: 4px;

  background-color: var(--toggle-background, rgb(171, 171, 171));
  border: 7.5px solid var(--contrast-color, rgb(255, 255, 255));
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow, rgba(171, 171, 171, 0.3));
  cursor: pointer;
  transition: 0.3s;
}

.range__toggle:hover {
  transform: translateY(-50%) scale(1.21);
}

.range__toggle--min {
  left: 0;
}

.range__toggle--max {
  right: 0;
}


/* Results-section */

.results-section {
  background-color: var(--contrast-color, rgb(255, 255, 255));
}

.results-section__header {
  display: flex;
  align-items: flex-start;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 74px;
  padding-right: 66px;

  border-bottom: 1px solid var(--line-color, rgb(229,229,229));
}

.results-section__header-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 46px;

  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.238;
  color: var(--secondary-color, rgb(0, 0, 0));
}

.results-section__results-controls {
  flex-grow: 1;
}

.results-section__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.results-section__list-item {
  padding-top: 24px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 71px;

  border-bottom: 1px solid var(--line-color, rgb(229,229,229));
}


/* Results-controls */

.results-controls {
  display: flex;
  align-items: flex-start;
}

.results-controls__label {
  margin-top: 3px;
  margin-bottom: 0;
  margin-right: 40px;

  font-size: 0.85714rem;
  color: var(--secondary-color, rgb(0, 0, 0));
}

.results-controls__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.results-controls__list-item:not(:last-of-type) {
  margin-right: 33px;
}

.results-controls__sort-link {
  font-size: 0.85714rem;
  color: var(--secondary-color-opacity-30, rgba(0, 0, 0, 0.3));
  border-bottom: 1px dotted var(--accent-color, rgb(129, 179, 210));
}

.results-controls__sort-link:hover {
  color: var(--accent-color, rgb(129, 179, 210));
}

.results-controls__sort-link:active {
  color: var(--secondary-color, rgb(0, 0, 0));
  border-bottom: none;
}

.results-controls__sort-link--current,
.results-controls__sort-link--current:hover,
.results-controls__sort-link--current:active {
  color: var(--accent-color, rgb(129, 179, 210));
  border-bottom: none;
}

.results-controls__order-links-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.results-controls__order-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
}

.results-controls__order-link-icon-symbol {
  fill: var(--sort-button-color, rgb(202, 202, 202));
  transition: 0.3s fill;
}

.results-controls__order-link:hover .results-controls__order-link-icon-symbol {
  fill: var(--secondary-color, rgb(0, 0, 0));
}

.results-controls__order-link:active .results-controls__order-link-icon-symbol {
  fill: var(--accent-color, rgb(129, 179, 210));
}

.results-controls__order-link--current .results-controls__order-link-icon-symbol,
.results-controls__order-link--current:hover .results-controls__order-link-icon-symbol,
.results-controls__order-link--current:active .results-controls__order-link-icon-symbol {
  fill: var(--accent-color, rgb(129, 179, 210));
}


/* Hotel */

.hotel {
  display: flex;
}

.hotel__info-container {
  order: 2;

  display: grid;
  grid-template-columns: min-content minmax(min-content, 1fr);
  grid-template-rows: repeat(3, min-content);
  column-gap: 6px;

  margin-right: auto;
}

.hotel__title-link {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  margin-bottom: 8px;
}

.hotel__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.238;
}

.hotel__type {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  margin-top: 0;
  margin-bottom: 15px;
}

.hotel__price {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin-top: 0;
  margin-bottom: 15px;
}

.hotel__about {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  min-width: 110px;
  min-height: 27px;
}

.hotel__booking {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  justify-self: start;
  min-width: 142px;
  min-height: 27px;
}

.hotel__picture {
  order: 1;
  flex-shrink: 0;
  display: block;
  margin-top: 6px;
  margin-right: 30px;
}

.hotel__image {
  display: block;
  width: 135px;
  height: 90px;
}

.hotel__rating-container {
  order: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 30px;
  padding-top: 5px;
}

.hotel__stars {
  display: block;
  margin-bottom: 47px;
}

.hotel__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  min-height: 27px;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--addition-primary-color, rgb(102, 102, 102));
  background-color: var(--addition-contrast-color, rgb(242, 242, 242));
}


/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  min-height: 120px;
  padding-left: 55px;
  padding-right: 55px;

  background-color: var(--contrast-color-opacity-90, rgba(255, 255, 255, 0.9));
}

.footer--index {
  position: relative;
  z-index: 1;
  margin-top: -120px;
}

.footer__address-section {
  align-self: stretch;

  padding-top: 23px;
}

.footer__address {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.238;
  color: var(--secondary-color, rgb(0, 0, 0));
  text-align: center;
}

.footer__tag {
  margin-top: 0;
  margin-bottom: 9px;
}

.footer__logo {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__logo-text {
  margin-right: 8px;
}

.footer__logo-icon {
  width: 114px;
  height: 40px;
}

.footer__logo-icon-symbol {
  fill: var(--logo-main-color, rgb(35, 31, 32));
  transition: 0.3s fill;
}

.footer__logo-link:hover .footer__logo-icon-symbol {
  fill: var(--logo-hover-color, rgb(129, 179, 210));
}

.footer__logo-link:active .footer__logo-icon-symbol {
  fill: var(--logo-active-color, rgb(189, 187, 188));
}


/* Socials */

.socials {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__item:not(:last-of-type) {
  margin-right: 6px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 46px;
  min-height: 48px;

  background-color: var(--accent-color, rgb(129, 179, 210));
  transition: 0.3s background-color;
}

.socials__link:hover {
  background-color: var(--accent-color-darker, rgb(102, 158, 192));
}

.socials__link:active {
  background-color: var(--accent-color-dark, rgb(84, 150, 189));
}

.socials__icon-symbol {
  fill: var(--contrast-color, rgb(255, 255, 255));
  transition: 0.3s fill;
}

.socials__link:active .socials__icon-symbol {
  fill: var(--contrast-color-opacity-30, rgba(255, 255, 255, 0.3));
}
